<div class="headerToolbar ">
	<h1 class="pull-left"> Lists</h1>
</div>
<div id="container"> 
	<a name="skip1" id="skip1"></a>
	<div id="sciverseCanvasArea" class="searchContent">
		<div class="myListContainer">
			<div class="myListHeader">
				Temporary list for 12 Dec 2016
				<span class="helpLink">
					<a href="../standard/help.uri@topic=2356" target="globalHelp" onclick="return openGlobalhelp('../standard/help.uri@topic=2356','globalHelp',760,570,0)" class="txtSmaller searchTipsIconActive paddingR0" title="Learn more about My list" alt="">&nbsp;</a>
				</span>
			</div>
			<div class="myListContent">
				<span class="docCountHead Bold">
					<p>
						You have 0 documents in your temporary list.
					</p>
				</span>		
				<span>
					<p class="myListSubHeader">To add documents to your temporary list:</p>
					<p class="myListContentStyle"></p><ul class="addDocStepsList"><li>Perform a search</li><li> From your results list, select the documents you want in your temporary list</li> <li>From the menu on your search results list, select Add to list</li></ul><p></p>
				</span>
				<span>
					<p class="myListSubHeader">What is temporary list?</p>
					<p class="myListContentStyle"></p><ul class="myListDesc"><li>This page shows the <b>temporary list of documents</b> you can create during a Scopus session.</li><li>You can work with this list the same way you work with any search results list - output the list, track citations, refine the list, and so on.</li></ul><p></p>
				</span>
				<span>
					<p class="myListSubHeader">To save documents to a saved list:</p>
					<p class="myListContentStyle">
						You must be logged in to save documents from your list or to work with your account <a href="../list/form/overview.uri" title="View saved lists or login">Saved lists</a>.<br>If you have previously saved lists for your account, you can access them after logging in from the main Lists menu or via My Scopus and clicking <a href="../list/form/overview.uri" title="View saved lists or login">Saved lists</a>.
					</p>
				</span>
			</div>
		</div>            
	</div>
</div>
<script src="/src/assets/js/basicsearchbottom.js"></script>
<script src="/src/assets/js/scopusmasterjs.js"></script>
<script src="/src/assets/js/errorhtmljs.js"></script>
<script src="/src/assets/js/basicsearchtop.js"></script>
<script src="/src/assets/js/bookmarklet.js"></script>
<script src="/src/assets/js/jawr_loader.js"></script>
<script src="/src/assets/js/277918141.js"></script>
<script src="/src/assets/js/geo2.js"></script>